.order{
    width:100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.order-bottom{
    width:100%;
}

.payments{
    width:60%;
}

.orderImg{
    top:0;
    left:0;
    height:60vh;
    width:100%;
    object-fit:cover;
}

@media screen and (max-width:520px){
    .quantity{
     width:90%;
    }
    .quantity input{
        width:100%;
    }
}