.meetingHero{
    width: 100%;
        height: 60vh;
        background-image: linear-gradient(to left, transparent 0%, rgba(0, 171, 240, .9) 50%), url('../../assets/con5.jfif');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    
}