.s-container{
    width:400px;
    height:520px;
    overflow:hidden;
    box-shadow: 2px 2px 9px -1px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 2px 2px 9px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 2px 9px -1px rgba(0, 0, 0, 0.75);
}

.line{
    margin-top:2px;
    height:1px;
}

.i-container{
    width:100%;
    height:65%;
    overflow:hidden;
}

.i-container img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition: all ease 0.3s;
}

.i-container img:hover{
    transform:scale(1.1)
}
@media screen and (max-width:1025px){
    .s-container{
        width:350px;
    }
}

@media screen and (max-width:770px){
    .s-container {
            width: 90%;
        }
}